In [5]:
# This is comment
# print Hello world

print('Hello World')

Hello World

In [7]:
a=6
b=7.5
c="Radha krishna"
print(a)
print("value of b is:",b)
print("Name of Temple is:",c)

6
value of b is: 7.5
Name of Temple is: Radha krishna

In [8]:
Name="Lord Ram"
print("Name is : ",Name)
#assinging a new value to website
Name="Lord Shiva"
print("Name is : ",Name)

Name is :  Lord Ram
Name is :  Lord Shiva

In [10]:
a,b,c=7,6.7,"Radha Krishna"

print(a)
print("value of b is:",b)
print("Name of Temple is:",c)

7
value of b is: 6.7
Name of Temple is: Radha Krishna

In [11]:
a=b=c=7
print("value of a is:",a)
print("value of b is:",b)
print("value of c is:",c)

value of a is: 7
value of b is: 7
value of c is: 7

In [12]:
m1=7
print(m1,"is of type", type(m1))

m2=7.5
print(m2,"is of type", type(m2))
print(m2,"is complex number?", isinstance(7.5, int))

m3=1+2j
print(m3,"is complex number?", isinstance(1+2j, complex))

7 is of type <class 'int'>
7.5 is of type <class 'float'>
7.5 is complex number? False
(1+2j) is complex number? True

In [15]:
name="Radha Krishna"

#print complete string
print("Name is " ,name)

#print first character of the string
print(name[0])

#print character from 2 to 5
print(name[1:5])

#print string from 3rd character 
print(name[2:])

#print string 2 time
print(name*2)

#prints concatenated string
print(name + " is a famous temple")

Name is  Radha Krishna
R
adha
dha Krishna
Radha KrishnaRadha Krishna
Radha Krishna is a famous temple

In [16]:
list1=[7,7.5,'Radha krishna']
       
print(list1)

[7, 7.5, 'Radha krishna']

In [17]:
list1=[7,7.5,5,'Radha',5.60,'krishna',70]
       
#list1[2]=[5]
print("list1[2]= ",list1[2])

#list1[0:4]=[7,7.5,5,Radha]
print("list1[0:4]= ",list1[0:4])

#list1[5:]=[5.60,krishna,70]
print("list1[5:]= ",list1[5:])

list1[2]=  5
list1[0:4]=  [7, 7.5, 5, 'Radha']
list1[5:]=  ['krishna', 70]

In [18]:
#creating an empty list
lst=[]

#number of elements as input
m=int(input("Enter the number of elements: "))

#iterating till the range
for i in range(0,m):
        ele=input("enter value: ")
        
        lst.append(ele)  #adding the element
        
print(lst)

Enter the number of elements:  2
enter value:  Radha 7
enter value:  krishna 8

['Radha 7', 'krishna 8']

In [19]:
tuple1=(10,20,30,"Radha",50,40,"krishna",70)

print(tuple1)

(10, 20, 30, 'Radha', 50, 40, 'krishna', 70)

In [20]:
tuple1=(7,7.5,5,'Radha',5.60,'krishna',70)
       
#list1[2]=5
print("tuple1[2]= ",tuple1[2])

#tuple1[0:4]=7,7.5,5,Radha
print("tuple1[0:4]= ",tuple1[0:4])

#list1[5:]=5.60,krishna,70
print("tuple1[5:]= ",tuple1[5:])

tuple1[2]=  5
tuple1[0:4]=  (7, 7.5, 5, 'Radha')
tuple1[5:]=  ('krishna', 70)

# lst=[]

#number of elements as input
m=int(input("Enter the number of elements: "))

#iterating till the range
for i in range(0,m):
        ele=input("enter value: ")
        
        lst.append(ele)  #adding the element
        
tupl=tuple(lst)      
print(lst)
print(tupl)

In [26]:
d={1: 'Radha',2: 'Krishna', 'key':10}
print(type(d))

print("d[1]=",d[1])
print("d[2]=",d[2])
print("d['key']=",m['key'])

<class 'dict'>
d[1]= Radha
d[2]= Krishna
d['key']= 10

In [31]:
mydict={}
for totnum in range(0,int(input('Input the total num; '))):
    a,b=input('Enter the key value pair :').split()
    if a in mydict:
        mydict[a].append(b)
    else:
            mydict[a]=[b]
print(mydict)

Input the total num;  3
Enter the key value pair : 5 Radha
Enter the key value pair : 7 Krishna
Enter the key value pair : m 9

{'5': ['Radha'], '7': ['Krishna'], 'm': ['9']}